In [ ]:
import pandas as pd

In [ ]:
df_citation = pd.read_csv("citation.csv", sep = ",")

In [ ]:
#Show first 5 rows
df_citation.head()

In [62]:
#Show columns
df_citation.columns

Index(['doi', 'times_cited'], dtype='object')

In [63]:
#Show dtypes
df_citation.dtypes

doi            object
times_cited     int64
dtype: object

In [64]:
#Show missing
df_citation.isna().sum()

doi            0
times_cited    0
dtype: int64

In [65]:
# 1. calculating mean for trusted to have a cut-off point

df_citation['times_cited'].describe()

count    473.000000
mean      31.818182
std       62.853380
min        0.000000
25%        4.000000
50%       14.000000
75%       35.000000
max      789.000000
Name: times_cited, dtype: float64

In [67]:
# Function to classify as highly cited if above average

# cut-off = 31.818182

def highlycited(citations):
    if citations >= 31.818182:
        return True
    else:
        return False

In [68]:
# Here I am going to show you THREE ways to do the same thing (pick one to use):

# First we clear a list
is_highlycited = []
for i in df_citation['times_cited']:
    result = highlycited(i)
    is_highlycited.append(result)

In [ ]:
is_highlycited

In [70]:
# Next we put the list as a new column
df_citation['is_highlycited'] = is_highlycited

In [71]:
df_citation.head()

                         doi  times_cited  is_highlycited
0  10.1177/20563051221138753            9           False
1  10.1177/20563051221138758            4           False
2   10.1177/2056305117733224           32            True
3   10.1177/2056305120949268            1           False
4   10.1177/2056305119898778           17           False

In [72]:
df_citation['is_highlycited2'] = [highlycited(x) for x in df_citation['times_cited']]

In [73]:
df_citation.head()

                         doi  times_cited  is_highlycited  is_highlycited2
0  10.1177/20563051221138753            9           False            False
1  10.1177/20563051221138758            4           False            False
2   10.1177/2056305117733224           32            True             True
3   10.1177/2056305120949268            1           False            False
4   10.1177/2056305119898778           17           False            False

In [77]:
df_citation['is_highlycited3'] = df_citation['times_cited'].apply(highlycited)

In [75]:
df_citation.head()

,doi,times_cited,is_highlycited,is_highlycited2,is_highlycited3
0,10.1177/20563051221138753,9,False,False,False
1,10.1177/20563051221138758,4,False,False,False
2,10.1177/2056305117733224,32,True,True,True
3,10.1177/2056305120949268,1,False,False,False
4,10.1177/2056305119898778,17,False,False,False

In [78]:
df_citation['is_highlycited'].value_counts()

is_highlycited
False    337
True     136
Name: count, dtype: int64

### Question: What to do if I want a smaller dataset, with only highly cited articles?

In [89]:
df_citation['times_cited'] > 35

0      False
1      False
2      False
3      False
4      False
       ...
468    False
469     True
470     True
471    False
472    False
Name: times_cited, Length: 473, dtype: bool

In [88]:
# What is the symbol to use?
# What is the condition
df_citation[df_citation['times_cited'] > 35]

,doi,times_cited,is_highlycited,is_highlycited2,is_highlycited3
6,10.1177/2056305118797724,65,True,True,True
8,10.1177/2056305118785638,43,True,True,True
14,10.1177/2056305120969877,38,True,True,True
28,10.1177/2056305119881695,36,True,True,True
30,10.1177/2056305119832588,43,True,True,True
...,...,...,...,...,...
461,10.1177/1461444819893987,85,True,True,True
462,10.1177/1461444815609081,139,True,True,True
467,10.1177/1461444817740755,42,True,True,True
469,10.1177/1461444820913122,69,True,True,True
470,10.1177/1461444814543999,49,True,True,True

## Merging

In [90]:
df_article = pd.read_csv("article_info.csv")

In [91]:
df_article.head()

,doi,title,abstract,year,journal.title
0,10.1177/20563051221138753,Discursive Strategies of Blaming: The Language...,Modern politics is permeated by blame games-sy...,2022,Social Media + Society
1,10.1177/20563051221138758,Hate Speech in a Telegram Conspiracy Channel D...,Research has explored how the COVID-19 pandemi...,2022,Social Media + Society
2,10.1177/2056305117733224,Twitter and Non-Elites: Interpreting Power Dyn...,"In May 2013 and March 2015, actress Angelina J...",2017,Social Media + Society
3,10.1177/2056305120949268,“Mischievous Uncles” as Rule Breakers: Interse...,Responses to crises can highlight and exacerba...,2020,Social Media + Society
4,10.1177/2056305119898778,Building Social Media Observatories for Monito...,Social media house a trove of relevant informa...,2020,Social Media + Society

In [92]:
df_article.columns

Index(['doi', 'title', 'abstract', 'year', 'journal.title'], dtype='object')

In [93]:
df_article.dtypes

doi              object
title            object
abstract         object
year              int64
journal.title    object
dtype: object

In [94]:
df_article.isna().sum()

doi               0
title             0
abstract         21
year              0
journal.title     0
dtype: int64

In [95]:
df_full = pd.merge(df_citation, df_article, how = 'left', left_on = 'doi', right_on='doi')

In [97]:
df_full = df_citation.merge(df_article, how = 'left', left_on = 'doi', right_on='doi')

In [102]:
df_citation.shape

(473, 5)

In [103]:
df_article.shape

(473, 5)

In [101]:
df_full.shape

(473, 9)

In [99]:
df_full.to_csv('article_with_citation.csv')