# Simple control structures - loops and conditions

Welcome to the second week of the course. By the end of this week, you should acquire:

Knowledge on:

* Open Communication Science
* Python operators and loops
* Control structures 

Skills on:
* Writing and applying various loops
* Using conditional operators

In [1]:
mylist = [1,2,3,4]

In [2]:
mylist.append(5)

In [3]:
mylist

[1, 2, 3, 4, 5]

In [4]:
people = {"Mark" : 6, "Jane" : 8}

In [5]:
people["Ann"] = 7

In [6]:
people

{'Mark': 6, 'Jane': 8, 'Ann': 7}

# Python operators

## Arithmetic

In [7]:
#int
5*5.5

27.5

In [8]:
#str
"cat" * "dog"

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
x = "7"

In [12]:
print(x)

7

In [13]:
x*5

'77777'

In [14]:
i=1

In [17]:
i+1

3

In [15]:
i+=1

In [18]:
print(i)

2

In [19]:
i-=7

In [20]:
print(i)

-5

## Comparison

In [21]:
#int
5 > 10

False

In [23]:
#type
len(['words', 'word2']) == 2

True

In [22]:
len(['words', 'word2'])

2

In [24]:
len(['words', 'word2']) != 2

False

In [25]:
len("blablabla") > 4

True

In [ ]:
len({"word": 1, "word2":2})

In [ ]:
len(["words", "word'2"]) != 5

In [26]:
data = "strings"

In [28]:
type(data) == int

False

## Logical and membership

In [30]:
#int - check membership. 
numbers = [1,2,3]

5 not in numbers

True

In [31]:
# in
words = ["blue", "yellow", "green"]

"yellow" in words

True

In [ ]:
#str - check membership

#not in
words = ["blue", "yellow", "green"]

In [35]:
#coditional statement
if "pink" in words:
    print("present")
elif "purple" in words:
    print("present")
else:
    print("not present")

not present

In [38]:
#string

name = "Anna is at home"

if "anna" in name:
    print("Anna present")
elif "Anna" in name:
    print("Anna present")
else:
    print("Anna absent")

Anna present

In [41]:
name.lower()

'anna is at home'

In [40]:
if "anna" in name.lower():
    print("Anna present")
else:
    print("Anna absent")

Anna present

In [39]:
if ("anna" in name) | ("Anna" in name):
    print("Anna present")
else:
    print("Anna absent")

Anna present

In [ ]:
a = "5"
b = 7

In [46]:
a = 6
b = 7

In [43]:
a+b

TypeError: can only concatenate str (not "int") to str

In [47]:
if (type(a) != int) | (type(b) != int):
    print(int(a)+int(b))
else:
    a+b

In [48]:
#bol

x = True

if x == True:
    print('true')
else:
    print('false')

true

In [ ]:
#Check if passing grade 

grade = 7.5

passing_grade = 5.5

## Assignment operators

In [ ]:
#+=

m = 3

# Loops

In [50]:
mylist

[1, 2, 3, 4, 5]

In [52]:
#A basic for loop with a list of numbers
#use f string
my_list = [3,5,6]

for a in my_list:
    print(a * 7)

21
35
42

In [56]:
print(a)

Matt

In [55]:
#A basic for loop with a list of strings
names = ["John", "Tyler", "Danny", "Matt"]

for a in names:
    print("name is", a)

name is John
name is Tyler
name is Danny
name is Matt

In [57]:
name = "John"

for a in name:
    print(a)

J
o
h
n

In [61]:
sentence = "John has a cat"

In [62]:
surnames = ['de Young', 'Rogers', 'Roggia']

for surname in surnames:
    print(surname)
    for a in surname:
        print(a)

de Young
d
e

Y
o
u
n
g
Rogers
R
o
g
e
r
s
Roggia
R
o
g
g
i
a

In [60]:
#Nested for loops
surnames = ['de Young', 'Rogers', 'Roggia']
names = ['Viola', 'Matt', 'Danny', 'Anna']


for name in names:
    #print("I am at this name", name)
    for surname in surnames:
        print(name, surname)

I am at this name Viola
Viola de Young
Viola Rogers
Viola Roggia
I am at this name Matt
Matt de Young
Matt Rogers
Matt Roggia
I am at this name Danny
Danny de Young
Danny Rogers
Danny Roggia
I am at this name Anna
Anna de Young
Anna Rogers
Anna Roggia

In [70]:
#Create a list of emails
#For loops for dictionaries 
emails = {"Joanna":"j.strycharz@uva.nl"}

for key,value in emails:
    print(key, "has email", value)

ValueError: too many values to unpack (expected 2)

In [67]:
emails.values()

dict_values(['j.strycharz@uva.nl', 'f.a.votta@uva.nl', 'j.c.ho@uva.nl'])

In [ ]:
#As is often the case, the key and value are arbitrary names for variables

In [ ]:
#You can also iterate only over the keys or only over the values

In [ ]:
#Loop over string or int?

x = 'blue is a color'

for element in x:
    print(type(element))

In [ ]:
x = 5

for element in x:
    print(element)

# Conditional statements (in loops)

In [75]:
#print number smaller than 5
#operation on every element
my_list = [3,4,5,6]

newnumbers=[]

for number in my_list:
    if number < 5:
        print(number)
        newnumbers.append(number)
    else:
        print("larger than 5")

3
4
larger than 5
larger than 5

In [76]:
print(newnumbers)

[3, 4]

In [ ]:
#While loop
counter = 0
while counter <= 4:
    print("Inside loop")
    counter += 1
    print(counter)
else:
    print("Inside else")

In [79]:
#create count how many times visual social media mentioned
socialmedia = ["Tiktok", "Facebook", "Instagram", "Snapchat", "Twitter", "LinkedIn", "Tiktok", "Instagram", "Facebook", "Tiktok"]

countervisuals=0
visualslist = ["Tiktok", "Instagram", "Snapchat"]

for medium in socialmedia:
    if medium in visualslist:
        print("visual")
        countervisuals+=1
        print(countervisuals)
    else:
        pass

visual
1
visual
2
visual
3
visual
4
visual
5
visual
6

In [78]:
countervisuals

6

In [ ]:
print(visualslist)

In [80]:
#filter to have a dict with only Tiktok users
#Filter to have only "heavy users" (at least 2 social media)
socialusers = {"user1": ["Tiktok", "Instagram"],
                "user2": ["Instagram, Facebook, Twitter"],
                "user3": ["Twitter", "LinkedIn"],
                "user4": ["Tiktok"],
                "user5": ["Tiktok", "LinkedIn"]}

socialheavyusers = {}

for key,value in socialusers.items():
    if len(value) > 1:
        socialheavyusers[key] = value
    else:
        pass

In [81]:
socialheavyusers

{'user1': ['Tiktok', 'Instagram'],
 'user3': ['Twitter', 'LinkedIn'],
 'user5': ['Tiktok', 'LinkedIn']}

In [ ]:
users_to_email = []
Tiktok_users = {}

for key,value in socialusers.items():
    #print(value)
    if  "Tiktok" in value:
        users_to_email.append(key)
        Tiktok_users[key]=value

In [ ]:
Tiktok_users